<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:chat="http://typo3.org/ns/Walther/Chat/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

    <h2>Edit Room</h2>

    <f:render partial="FormErrors"/>

    <chat:turboFrame id="room">
        <f:form action="update" name="room" object="{room}" method="POST">
            <label for="name">Name <span class="required">*</span></label>
            <f:form.textfield id="name" property="name" autofocus="autofocus"/>
            <f:form.submit value="update room"/>
        </f:form>
    </chat:turboFrame>

    <p><f:link.action action="list">back to list</f:link.action></p>

</f:section>

</html>